<%= render 'pages/shared/header' %>
<div class="user_dashboard">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="tabs is-centered">
          <ul>
            <li class="is-active">
              <a>
                <span class="icon is-small">
                  <i class="fas fa-calendar-alt"></i>
                </span>
                <span>Minha Agenda</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small">
                  <i class="fas fa-history"></i>
                </span>
                <span>Histórico</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <form>
      <div class="columns is-multiline">
        <div class="column is-6">
          <div class="field">
            <div class="control">
              <input type="text" class="input">
            </div>
          </div>
        </div>
        <div class="column is-2">
          <button type="submit" class="button is-primary">
            <i class="fas fa-search"></i>
            Encontrar
          </button>
        </div>
        <div class="column is-4">
          <div class="is-pulled-right">
            <button class="button is-info" type="button">Hoje</button>
            <button class="button is-info" type="button">Semana</button>
            <button class="button is-info" type="button">Mês</button>
          </div>
        </div>
      </div>
    </form>


    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image">
                <img src="https://bulma.io/images/placeholders/64x64.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <div class="content">
                    <p class="has-text-weight-semibold">
                      cabelo + unha
                    </p>
                    <p>
                      <span class="has-text-weight-semibold">André</span> (69) 9 9368-5534
                    </p>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="content is-pulled-right">
                    <p>
                      <i class="fas fa-money-bill-wave is-size-4"></i>
                      R$ 22.22
                    </p>
                    <p>
                      <i class="fas fa-clock is-size-4"></i>
                      11:11 - 22:22
                    </p>
                    <div class="level-item button is-info">
                      <i class="fas fa-eye"></i>
                      <span> detalhes</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="column is-12">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image">
                <img src="https://bulma.io/images/placeholders/64x64.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <div class="content">
                    <p class="has-text-weight-semibold">
                      cabelo + unha
                    </p>
                    <p>
                      <span class="has-text-weight-semibold">André</span> (69) 9 9368-5534
                    </p>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="content is-pulled-right">
                    <p>
                      <i class="fas fa-money-bill-wave is-size-4"></i>
                      R$ 22.22
                    </p>
                    <p>
                      <i class="fas fa-clock is-size-4"></i>
                      11:11 - 22:22
                    </p>
                    <div class="level-item button is-info">
                      <i class="fas fa-eye"></i>
                      <span> detalhes</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>


      <div class="column is-12">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image">
                <img src="https://bulma.io/images/placeholders/64x64.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <div class="content">
                    <p class="has-text-weight-semibold">
                      cabelo + unha
                    </p>
                    <p>
                      <span class="has-text-weight-semibold">André</span> (69) 9 9368-5534
                    </p>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="content is-pulled-right">
                    <p>
                      <i class="fas fa-money-bill-wave is-size-4"></i>
                      R$ 22.22
                    </p>
                    <p>
                      <i class="fas fa-clock is-size-4"></i>
                      11:11 - 22:22
                    </p>
                    <div class="level-item button is-info">
                      <i class="fas fa-eye"></i>
                      <span> detalhes</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="column is-12">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image">
                <img src="https://bulma.io/images/placeholders/64x64.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <div class="content">
                    <p class="has-text-weight-semibold">
                      cabelo + unha
                    </p>
                    <p>
                      <span class="has-text-weight-semibold">André</span> (69) 9 9368-5534
                    </p>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="content is-pulled-right">
                    <p>
                      <i class="fas fa-money-bill-wave is-size-4"></i>
                      R$ 22.22
                    </p>
                    <p>
                      <i class="fas fa-clock is-size-4"></i>
                      11:11 - 22:22
                    </p>
                    <div class="level-item button is-info">
                      <i class="fas fa-eye"></i>
                      <span> detalhes</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      
    </div>
  </div>
</div>
