<div class="galery">
  <div class="image-mobile" style='background: url("<%= url_for(@service.photos.sample)%>"); background-size: cover;'>
    <button class="button is-ligth modal-button" data-target="modal-photos">MAIS FOTOS</button>
  </div>
</div>

<div class="modal" id="modal-photos">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="hero-carousel">
      <% @service.photos.each do |photo|%>
        <p class="is-background image is-1280x960">
          <%= image_tag(@service.thumbnail(photo, :large))%>
        </p>
      <% end%>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
