<div class="galery">
  <div class="image-mobile" style='background: url("<%= url_for(@service.photos.sample)%>"); background-size: cover;'>
    <button class="button is-ligth">MAIS FOTOS</button>
  </div>
</div>