<div class="galery">
    <% if @service.photos.attached? %>
    <div class="image-mobile" style='background: url("<%= url_for(load_cover(@service)%>"); background-size: cover;'>
      <button class="button is-ligth modal-button" data-target="modal-photos">MAIS FOTOS</button>
    </div>
    <div class="modal" id="modal-photos">
      <div class="modal-background"></div>
      <div class="modal-card">
        <div id="service-images-carousel" class="carousel">
          <% @service.photos.each_with_index do |photo, index| %>
            <div class="item-<%= index %>">
                <%= image_tag(@service.thumbnail(photo, :large)) %>
            </div>
          <% end%>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
  <% else %>
    <div class="image-mobile"
      style='background: url("<%= default_image_service(@service) %>"); background-size: cover;'>
    </div>
  <% end%>
</div>


