<h1 class="title has-text-centered">
  <span class="is-size-3 is-pulled-right"> <i class="fas fa-arrow-right"></i></span> 
  Horários
  <span class="is-size-3 is-pulled-left"> <i class="fas fa-arrow-left"></i> </span>
</h1>
 
<div class="columns">
  <div class="column is-12">
    <table class="table table is-fullwidth is-bordered">
      <thead>
        <tr>
          <th class="has-text-centered">
            02/03</br>
            <span class="has-text-weight-normal">Seg.</span>
          </th>
          <th class="has-text-centered">
            03/03</br>
            <span class="has-text-weight-normal">Ter.</span>
          </th>
          <th class="has-text-centered has-background-grey-lighter">
            04/03</br>
            <span class="has-text-weight-normal">Qua.</span>
          </th>
          <th class="has-text-centered">
            05/03</br>
            <span class="has-text-weight-normal">Qui.</span>
          </th>
          <th class="has-text-centered">
            06/03</br>
            <span class="has-text-weight-normal">Sex.</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='has-text-centered'>9:00</td>
          <td class='has-text-centered has-background-grey-lighter'>9:00</td>
          <td class='has-text-centered has-background-grey-lighter'>9:00</td>
          <td class='has-text-centered has-background-grey-lighter'>9:00</td>
          <td class='has-text-centered'>9:00</td>
        </tr>
        <tr>
          <td class='has-text-centered has-background-grey-lighter'>11:00</td>
          <td class='has-text-centered has-background-grey-lighter'>11:00</td>
          <td class='has-text-centered has-background-grey-lighter'>11:00</td>
          <td class='has-text-centered'>11:00</td>
          <td class='has-text-centered'>11:00</td>
        </tr>
        <tr>
          <td class='has-text-centered'>14:00</td>
          <td class='has-text-centered has-background-grey-lighter'>14:00</td>
          <td class='has-text-centered has-background-grey-lighter'>14:00</td>
          <td class='has-text-centered'>14:00</td>
          <td class='has-text-centered has-background-grey-lighter'>14:00</td>
        </tr>
        <tr>
          <td class='has-text-centered'>16:00</td>
          <td class='has-text-centered'>16:00</td>
          <td class='has-text-centered has-background-grey-lighter'>16:00</td>
          <td class='has-text-centered'>16:00</td>
          <td class='has-text-centered has-background-grey-lighter'>16:00</td>
        </tr>
        <tr>
          <td class='has-text-centered has-background-grey-lighter'>18:00</td>
          <td class='has-text-centered has-background-grey-lighter'>18:00</td>
          <td class='has-text-centered has-background-grey-lighter'>18:00</td>
          <td class='has-text-centered'>18:00</td>
          <td class='has-text-centered'>18:00</td>
        </tr>
         <tr>
          <td class='has-text-centered'>20:00</td>
          <td class='has-text-centered'>20:00</td>
          <td class='has-text-centered has-background-grey-lighter'>20:00</td>
          <td class='has-text-centered'>20:00</td>
          <td class='has-text-centered has-background-grey-lighter'>20:00</td>
        </tr>
         <tr>
          <td class='has-text-centered'>22:00</td>
          <td class='has-text-centered'>22:00</td>
          <td class='has-text-centered has-background-grey-lighter'>22:00</td>
          <td class='has-text-centered has-background-grey-lighter'>22:00</td>
          <td class='has-text-centered'>22:00</td>
        </tr>
         <tr>
          <td class='has-text-centered has-background-grey-lighter'>23:00</td>
          <td class='has-text-centered has-background-grey-lighter'>23:00</td>
          <td class='has-text-centered has-background-grey-lighter'>23:00</td>
          <td class='has-text-centered'>23:00</td>
          <td class='has-text-centered'>23:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>