<%= render 'shared/header', to_back: establishments_dashboard_path(current_user.establishment) %>
<div class="services_form">
  <div class="container">
    <%= render "form", url: establishment_services_path  %>
  </div>
</div>
<% render 'shared/establishment_bottom_navigation_bar', tab: 'services' %>