<%= render 'pages/shared/header' %>
<div class="service-details">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6">
        <%= render 'gallery' %>
      </div>
      <div class="column is-6">
       <%= render 'service_details' %>
      </div>
      <div class="column is-12">
        <%= render 'schedules' %>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="details-model-scheduling"></div>