<% unless current_user.confirmed? %>
  <div class="notify_header">
    <nav class="is-white has-text-centered">
      <p>Por favor confirme seu email, para reenviar email de confirmação <%= link_to 'clique aqui', new_user_confirmation_path %>.</p>
    </nav>
  </div>
  <% end %>