<div class="notify_header">
  <nav class="is-white has-text-centered is-white">
    <p>Aviso: o profissional não contem horários de trabalho, por favor adicionar para que possam agendar dentro do horário definido</p>
  </nav>
</div>