<%= render 'pages/shared/header', to_back: true %>
<div class="professionals_form">
  <div class="container">
    <%= render "form", url: establishment_professional_path(establishment_id: @establishment.id, id: @professional.id) %>
    <div class="columns is-multiline office_hours">
      <div class="column is-12">
        <h1 class="title is-size-4 has-text-grey has-text-weight-normal">Horário de trabalho</h1>
      </div>
      <div class="column is-12">
        <%= render 'office_hours/form' %>
      </div>
      <div class="column is-12">
        <%= render "office_hours/table_list", office_hours: @professional.office_hours %>
      </div>
    </div>
  </div>
</div>
