<%= render 'shared/header', to_back: false %>
<div class="establishments_dashboard">
  <div class="container" id="professionals">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="columns is-multiline is-mobile">
          <div class="column is-6">
            <h1 class="is-size-4 has-text-grey"> Profissionais </h1>
          </div>
          <div class="column is-6">
            <%= link_to 'Novo', new_establishment_professional_path(establishment_id: current_user.establishment.id),
              class: "button is-light is-pulled-right"%>
          </div>
        </div>
        <div class="columns is-multiline">
          <% current_user.establishment.professionals.each do |professional| %>
            <%= render 'professional_card', professional: professional %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'establishments_dashboard/bottom_navigation_bar', tab: 'professionals' %>
</div>