<tr>
  <td><%= office_hour.week_day %></td>
  <td><%= mask_hour(office_hour.hour_begin) %></td>
  <td><%= mask_hour(office_hour.hour_end) %></td>
  <td class="has-text-centered">
    <%= link_to establishment_professional_office_hour_path(
                  establishment_id: office_hour.professional.establishment_id,
                  professional_id: office_hour.professional.id,
                  id: office_hour.id
                ), method: :delete, class: "button is-danger" do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>