<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="table-office_hours">
  <thead>
  <tr>
    <th>Dia</th>
    <th>Inicio</th>
    <th>Fim</th>
    <th class="has-text-centered">Ações</th>
  </tr>
  </thead>
  <tbody id="table_content">
    <%= render office_hours %>
  </tbody>
</table>