<table class="table is-fullwidth" id="table-office_hours">
  <thead>
  <tr>
    <th>Dia</th>
    <th>Inicio</th>
    <th>Fim</th>
    <th></th>
  </tr>
  </thead>
  <tbody id="table_content">
    <%= render office_hours %>
  </tbody>
</table>