<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <% if professional_service.professional.photo.attached? %>
          <%= image_tag professional_service.thumbnail(professional_service.professional.photo, :avatar),
                        class:'is-rounded' %>
        <% else %>
          <img src="/images/128x128.png" class="is-rounded">
        <% end %>
      </figure>
    </div>
    <div class="media-content">
      <p class="title has-text-black is-size-5"><%= professional_service.professional.name %></p>
      <p class="subtitle is-size-6"><%= professional_service.professional.professional_services.count  %> serviço(s)</p>
    </div>
  </article>
    <%= link_to establishment_service_professional_service_path(
                  establishment_id: professional_service.service.establishment_id,
                  service_id: professional_service.service_id,
                  id: professional_service.id
                ), remote: true, method: :delete,
                data: { confirm: 'Você tem certeza ?' },
                class: "button is-light is-pulled-right" do %>
      <span class="icon">
        <i class="fas fa-times has-text-danger is-size-4"></i>
      </span>
    <% end %>
</div>