<div class="botton-navigtion-bar">
  <div class="tabs is-centered">
    <ul>
      <li class="tab is-active" data-target="scheduling">
        <a>
          <span class="icon is-small is-size-4">
            <i class="fas fa-calendar-alt"></i>
          </span>
          <span class="is-hidden-mobile">Agenda</span>
        </a>
      </li>
      <li class="tab" data-target="services">
        <a>
          <span class="icon is-small is-size-4">
            <i class="fas fa-cogs"></i>
          </span>
          <span class="is-hidden-mobile">Serviços</span>
        </a>
      </li>
      <li class="tab" data-target="professionals">
        <a>
          <span class="icon is-small is-size-4">
            <i class="fas fa-users"></i>
          </span>
          <span class="is-hidden-mobile">Profissionais</span>
        </a>
      </li>
    </ul>
  </div>
</div>