<div class="container">
  <div class="columns is-multiline has-text-centered">
    <div class="column is-12">
      <h1 class="title">Parabéns, seu cadastro foi realizado com sucesso</h1>
    </div>
    <% if @establishment.moip_set_password_link %>
      <div class="column is-12">
        <p class="subtitle">
          Você precisa criar uma senha para sua conta no sistema de pagamento. (WIRECARD)
        </p>
        <%= link_to 'Criar senha no WIRECARD', @establishment.moip_set_password_link, class: 'button is-info', target: '_blank' %>
      </div>
    <% end %>
    <div class="column is-12">
      <p class="subtitle">
        Precisamos da sua autorização para fazermos as transferências dos seus serviços.
      </p>
      <%= link_to 'Autorizar o BLZ', moip_request_permission_link,
                  class: 'button is-info' %>
    </div>
  </div>
</div>