<%= render 'shared/header', to_back: false %>
<div class="establishments_dashboard">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <% if @scheduling.any? %>
          <div class="columns is-multiline">
            <div class="column is-12">
              <h1 class="is-size-4 has-text-grey"> Minha agenda </h1>
            </div>
            <% @scheduling.each do |s| %>
              <%= render 'scheduling_card', scheduling: s %>
            <% end %>
          </div>
        <% else %>
          <div class="column is-12">
            <p class="has-text-centered has-text-white-light is-size-4">
              Você ainda não possui agendamentos :(
            </p>
          </div>
        <% end %>
      </div>
      <div class="column is-12" id="profile" style="display:none">
        <div class="columns is-multiline is-mobile">
          <%= render 'establishments/form' %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'bottom_navigation_bar', tab: 'scheduling' %>
</div>
