<footer class="is-hidden is-hidden-tablet mobile">
  <div class="columns is-mobile">
    <div class="column has-text-centered">
      <a class="is-size-3" href="/">
        BLZ
      </a>
    </div>
    <div class="column has-text-centered">
      <a class="is-size-4" href="#search-filters">
        <span class="icon">
          <i class="fas fa-search"></i>
        </span>
      </a>
    </div>
  </div>
</footer>