<div class="results">
  <div class="container">
    <div class="columns is-multiline">
      <% services.each do |service| %>
        <%= render 'pages/shared/card', service: service %>
      <% end %>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <a class="button is-light is-rounded btn-see-more is-hidden">Mostrar mais</a>
      </div>
    </div>
  </div>
</div>