.bottom-navigation-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 9;
  background-color: #fff;
  border-top: 1px solid #efefef;
}


//CUSTOM TABS DASHBOARD
.establishments_dashboard, .services_form, .scheduling-details,
.professionals_form {
  padding-bottom: 80px;

  .bottom-navigation-bar {
    background-color: $primary-color;

    .tabs {
      overflow-x: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .icon:first-child {
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-top: 0.5em;
      }
    }

    ul {
      border: 0px;
    }

    .tab {
      a {
        color: #fff;
        height: 60px;
      }

      &.is-active, &:hover {
        a {
          color: #31aeb5;
          background-color: #fff;
        }
      }
    }
  }
}