header {
  background-color: transparent;
  box-shadow: none;

  .navbar {
    &.is-transparent {
      background-color: transparent;
    }

    .navbar-brand {
      @include touch {
        width: 30%;
        display: inline-block;
        height: 50px;

        .navbar-item {
          padding: 0px;
        }
      }

      a.is-center {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
      }

      a.to-back {
        margin-left: 5px;
      }
    }

    .navbar-menu {
      background-color: transparent;

      @include touch {
        width: 65%;
        display: inline-block;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        min-height: 3.25rem;
        height: 50px;

        .navbar-end {
          display: inline-block;
        }
      }

      .navbar-item {
        a {
          border-color:  $primary-color;
        }
      }

    }

    a {
      background-color: transparent;
      color:  $primary-color;

      &:hover {
        color:  $primary-color;
      }
    }
  }
}

// HEADER CUSTOM
.establishments_dashboard-index, .services-new, .services-edit,
.professionals-new, .professionals-edit, .sessions-new, .registrations-new,
.passwords-new, .passwords-edit, .registrations-edit, .establishments-new,
.establishments-edit, .scheduling-show, .services-index, .scheduling-index,
.users-index, .payment_cards-index, .use_rules-index, .professionals-index,
.users_dashboard-index, .adminscheduling-index, .adminscheduling-show,
.adminservices-index, .adminservices-show, .adminusers-index, .adminusers-show,
.usersregistrations-edit, .professionals-update, .filter_services-index,
.users-edit, .scheduling-new, .establishment_feedbacks-index,
.adminestablishments-index, .adminestablishments-show, .adminreviews-index,
.adminreviews-show, .establishment_welcomes-index, .establishments-show,
.adminservices-edit, .adminestablishments-edit, .adminprofessionals-index,
.adminprofessionals-edit {
  header {
    background-color: $primary-color;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);

    .navbar {

      &.is-transparent {
        background-color: $primary-color;
      }

      .navbar-menu {
        .navbar-item {
          a {
            border-color: #fff;
          }
        }
      }

      a {
        color:  #fff;
        border-color: #fff;

        &:hover {
          color:  #fff;
        }
      }
    }
  }
}

.establishments_dashboard-index, .services-new, .services-edit,
.professionals-new, .professionals-edit, .establishments-edit,
.scheduling-show, .services-index, .users_dashboard-index,
.users-index, .payment_cards, .use_rules-index, .professionals-index,
.filter_services-index, .establishments-show, .adminestablishments-edit,
.adminprofessionals-edit {
  &.is-fixed-top {
    padding-top: 3.25rem;
  }
}