header {
  background-color: transparent;
  box-shadow: none;

  .navbar {
    &.is-transparent {
      background-color: transparent;
    }

    .navbar-brand {
      a.is-center {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
      }

      a.to-back {
        margin-left: 5px;
      }
    }

    .navbar-brand > a.navbar-item, .navbar-menu {
      opacity: 1;
      -webkit-transition: opacity .2s ease-in-out;
      -moz-transition: opacity .2s ease-in-out;
      -ms-transition: opacity .2s ease-in-out;
      -o-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;

      &.is-unactive {
        @include mobile {
          opacity: .2;
        }
      }
    }

    .navbar-menu {
      background-color: transparent;

      @include touch {
        margin-top: -68px;
        padding-bottom: 44px;
        box-shadow: none;
      }

      .navbar-item {
        a {
          border-color:  $primary-color;
        }
      }

      @include mobile {
        a:nth-child(2) {
          margin-left: 0px;
        }
      }

      @include desktop {
        a:nth-child(1) {
          margin-right: 15px;
        }
      }

      @include touch {
        a.button:first-child, a.button:nth-child(2) {
          margin-right: 50px;
        }

        a.button:last-child {
          margin-right: 5px;
        }
      }
    }

    a {
      background-color: transparent;
      color:  $primary-color;

      &:hover {
        color:  $primary-color;
      }
    }
  }
}

// HEADER CUSTOM
.establishments_dashboard-index, .services-new, .services-edit,
.professionals-new, .professionals-edit, .sessions-new, .registrations-new,
.passwords-new, .passwords-edit, .registrations-edit, .establishments-new,
.establishments-edit, .scheduling-show, .services-index, .scheduling-index,
.users-index, .use_rules-index {
  header {
    background-color: $primary-color;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);

    .navbar {
      .navbar-menu {
        .navbar-item {
          a {
            border-color: #fff;
          }
        }
      }

      a {
        color:  #fff;
        border-color: #fff;

        &:hover {
          color:  #fff;
        }
      }
    }
  }
}