.toast {
  visibility: hidden;
  margin: auto;
  width: 200px;

  position: fixed;
  z-index: 9999;
  left: calc(100% - 220px);
  top: 30px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 1s, fadeout 0.5s 2.5s;
  animation: fadein 1s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 30px; opacity: 1; }
}

@keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 30px; opacity: 1; }
}