<div class="feedbacks">
  <div class="container">
    <div class="columns is-multiline has-text-centered">
      <div class="column is-12">
        <h1 class="title has-text-centered has-text-primary is-size-1">BLZ</h1>
      </div>
      <div class="column is-12">
        <h2 class="subtitle has-text-centered has-text-white  is-size-2">Seja Bem Vindo</h2>
      </div>
      <div class="column is-12 sample-text has-text-black">
        <p>Vamos analisar seu cadastro e em <span class="has-text-weight-bold	has-text-grey">4 horas úteis</span> enviaremos para este email as próximas instruções.</p>
      </div>
      <div class="column is-12">
        <p class="has-text-black">Ou se preferir pode entrar em contato:</p>
        <p class="has-text-weight-bold has-text-grey">(69) 99274-0628</p>
        <p class="has-text-weight-bold has-text-grey">contato@blz.life</p>
      </div>
      <div class="column is-12">
        <div class="item">
          <p class="has-text-centered has-text-grey is-size-4">
            Abraços, </br>
          Equipe BLZ
        </p>
      </div>
    </div>
  </div>
</div>
