<div class="home_page">
  <%= render 'pages/shared/header' %>
  <%= render 'pages/shared/banner' %>
  <%= render 'pages/shared/filters', filter: @filter || { } %>
  <%= render 'pages/shared/results', services: @services || [] %>
</div>