<div id="cancel-scheduling-modal" class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="columns content is-multiline">
        <div class="column is-12">
          <h1 class="is-size-4 has-text-grey"> Política de cancelamento</h1>
        </div>
        <div class="column is-12">
          <p>Política sendo elaborada ...</p>
        </div>
        <div class="column is-12">
          <a class="button is-danger"> Cancelar </a>
        </div>
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>