<div class="feedbacks">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <i class="far fa-check-circle is-size-1"></i>
      </div>
    </div>
  </div>
</div>