<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="tabs is-centered">
        <ul>
          <li class="is-active">
            <a>
              <span class="icon is-small">
                <i class="fas fa-calendar-alt"></i>
              </span>
              <span>Minha Agenda</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small">
                <i class="fas fa-history"></i>
              </span>
              <span>Histórico</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="column is-6">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
          </div>
          <div class="media-content">
            <div class="columns is-multiline">
              <div class="column is-12">
                <div class="content">
                  <p class="has-text-weight-semibold">
                    SVIM Instituto de Beleza
                  </p>
                  <p>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                  </p>
                </div>
              </div>
              <div class="column is-4">
                <i class="fas fa-money-bill-wave is-size-4"></i>
                R$ 22.22
              </div>
              <div class="column is-4">
                <i class="fas fa-hourglass-half is-size-4"></i>
                50 minutos
              </div>
              <div class="column is-4">
                <i class="fas fa-clock is-size-4"></i>
                11:11 - 22:22
              </div>
              <div class="column is-12">
          <span>
            <i class="fas fa-map-marker-alt is-size-4"></i>
            Rua Tabajara, 2803, Liberdade - Porto Velho / RO
          </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="column is-6">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
          </div>
          <div class="media-content">
            <div class="columns is-multiline">
              <div class="column is-12">
                <div class="content">
                  <p class="has-text-weight-semibold">
                    SVIM Instituto de Beleza
                  </p>
                  <p>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                  </p>
                </div>
              </div>
              <div class="column is-4">
                <i class="fas fa-money-bill-wave is-size-4"></i>
                R$ 22.22
              </div>
              <div class="column is-4">
                <i class="fas fa-hourglass-half is-size-4"></i>
                50 minutos
              </div>
              <div class="column is-4">
                <i class="fas fa-clock is-size-4"></i>
                11:11 - 22:22
              </div>
              <div class="column is-12">
          <span>
            <i class="fas fa-map-marker-alt is-size-4"></i>
            Rua Tabajara, 2803, Liberdade - Porto Velho / RO
          </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="column is-6">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
          </div>
          <div class="media-content">
            <div class="columns is-multiline">
              <div class="column is-12">
                <div class="content">
                  <p class="has-text-weight-semibold">
                    SVIM Instituto de Beleza
                  </p>
                  <p>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                  </p>
                </div>
              </div>
              <div class="column is-4">
                <i class="fas fa-money-bill-wave is-size-4"></i>
                R$ 22.22
              </div>
              <div class="column is-4">
                <i class="fas fa-hourglass-half is-size-4"></i>
                50 minutos
              </div>
              <div class="column is-4">
                <i class="fas fa-clock is-size-4"></i>
                11:11 - 22:22
              </div>
              <div class="column is-12">
          <span>
            <i class="fas fa-map-marker-alt is-size-4"></i>
            Rua Tabajara, 2803, Liberdade - Porto Velho / RO
          </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="column is-6">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
          </div>
          <div class="media-content">
            <div class="columns is-multiline">
              <div class="column is-12">
                <div class="content">
                  <p class="has-text-weight-semibold">
                    SVIM Instituto de Beleza
                  </p>
                  <p>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                  </p>
                </div>
              </div>
              <div class="column is-4">
                <i class="fas fa-money-bill-wave is-size-4"></i>
                R$ 22.22
              </div>
              <div class="column is-4">
                <i class="fas fa-hourglass-half is-size-4"></i>
                50 minutos
              </div>
              <div class="column is-4">
                <i class="fas fa-clock is-size-4"></i>
                11:11 - 22:22
              </div>
              <div class="column is-12">
          <span>
            <i class="fas fa-map-marker-alt is-size-4"></i>
            Rua Tabajara, 2803, Liberdade - Porto Velho / RO
          </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="column is-6">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
          </div>
          <div class="media-content">
            <div class="columns is-multiline">
              <div class="column is-12">
                <div class="content">
                  <p class="has-text-weight-semibold">
                    SVIM Instituto de Beleza
                  </p>
                  <p>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                  </p>
                </div>
              </div>
              <div class="column is-4">
                <i class="fas fa-money-bill-wave is-size-4"></i>
                R$ 22.22
              </div>
              <div class="column is-4">
                <i class="fas fa-hourglass-half is-size-4"></i>
                50 minutos
              </div>
              <div class="column is-4">
                <i class="fas fa-clock is-size-4"></i>
                11:11 - 22:22
              </div>
              <div class="column is-12">
          <span>
            <i class="fas fa-map-marker-alt is-size-4"></i>
            Rua Tabajara, 2803, Liberdade - Porto Velho / RO
          </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="column is-6">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
          </div>
          <div class="media-content">
            <div class="columns is-multiline">
              <div class="column is-12">
                <div class="content">
                  <p class="has-text-weight-semibold">
                    SVIM Instituto de Beleza
                  </p>
                  <p>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="fas fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                    <i class="far fa-star is-size-5"></i>
                  </p>
                </div>
              </div>
              <div class="column is-4">
                <i class="fas fa-money-bill-wave is-size-4"></i>
                R$ 22.22
              </div>
              <div class="column is-4">
                <i class="fas fa-hourglass-half is-size-4"></i>
                50 minutos
              </div>
              <div class="column is-4">
                <i class="fas fa-clock is-size-4"></i>
                11:11 - 22:22
              </div>
              <div class="column is-12">
          <span>
            <i class="fas fa-map-marker-alt is-size-4"></i>
            Rua Tabajara, 2803, Liberdade - Porto Velho / RO
          </span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>