header {
  img {
    min-width: 150px;
    max-width: 150px;
    min-height: 80px;
    max-height: 80px;
  }

  border-bottom: 1px solid #ececec;
  margin-bottom: 30px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  p {
    margin-right: 30px;
  }
}