header {
  background-color: #31aeb5;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  p {
    margin-right: 30px;
  }

  .navbar {
    background-color: #31aeb5;

    .navbar-menu > .navbar-end > .navbar-item {
      a {
        border-color: #31aeb5;
      }

      @include mobile {
        a:nth-child(2) {
          margin-left: 40px;
        }

        a:last-child {
          margin-right: 40px;
        }
      }
    }

    a {
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }
}

.services-show {
  header {
    margin-bottom: 0px;
    background-color: #fff;

    .navbar {
      background-color: #fff;

      a {
        color: #31aeb5;
      }
    }
  }
}