
@import 'utilities/*';
@import 'bulma/bulma';
@import 'bulma-extensions/dist/css/bulma-extensions.min';
@import "bulma-calendar/dist/css/bulma-calendar.min";
@import 'bulma-modal-fx/dist/css/modal-fx.min';
@import 'inter-ui/inter.scss';

@import 'utilities/*';
@import 'bulma_custom/*';

@import 'home';
@import 'services';
@import 'devise';
@import 'establishment';
@import 'service_details';
@import 'toast';
@import 'bottom_navigation_bar';
@import 'header';
@import 'users_dashboard';
@import 'establishments_dashboard';
@import 'professional_services';
@import 'office_hours';

html {
  font-family: 'Inter', sans-serif !important;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  font-family: 'Inter UI Medium', sans-serif !important;
}

h1, h2 {
  font-family: 'Inter UI Bold', sans-serif !important;
}


*:focus {
  outline: none !important;
}

.button {
  span {
    margin-left: 5px;
  }
}