@import 'bulma/bulma';
@import 'bulma-modal-fx/dist/css/modal-fx.min';
@import 'home';
@import 'services';
@import 'devise';
@import 'establishment';
@import 'service_details';
@import 'toast';
@import 'bottom_navigation_bar';
@import 'header';
@import 'users_dashboard';
@import 'establishments_dashboard';
@import 'professional_services';
@import 'office_hours';

*:focus {
  outline: none;
}

.is-64x64 {
  img {
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
    object-fit: cover;
  }
}

.is-128x128 {
  img {
    min-height: 128px;
    max-height: 128px;
    min-width: 128px;
    max-width: 128px;
    object-fit: cover;
  }
}

.button {
  span {
    margin-left: 5px;
  }
}