.establishments_dashboard {
  .container {
    padding-bottom: 50px;

    @include mobile {
      margin: 0px 12px;
    }
  }

  h1 {
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
    color: grey;
    margin-bottom: 15px;

    @include mobile {
    }
  }

  li {
    width: 50%;
  }

  .button {
    &.is-active {
      background-color: #31aeb5;
      color: #fff;
      border-color: #31aeb5;
    }
  }

  .media-content {
    overflow-x: initial;
  }

  .no-scheduling {
    margin-top: 10vh;
  }

  .numbers-cards {
    .column.is-12 {
      margin-bottom: 30px;
    }

    .level-left {
      width: 30%;
    }

    .level-right {
      width: 70%;

      p {
        width: 100%;
      }
    }
  }

  .graph {
    margin-left: 30px;
    
    #curve_chart {
      height: 280px;
    }
  
  }

  .botton-navigtion-bar {
    .tab {
      a {
        color: grey;
        height: 50px;
      }

      &.is-active, &:hover {
        a {
          color: #31aeb5;
          border-bottom-color: #31aeb5;
        }
      }
    }
  }
}