.establishment_form {
  .cpf_cnpj_buttons {
    margin-top: 35px;
  }

  #temporary_image > img {
    min-height: 128px;
    max-height: 128px;
    min-width: 128px;
    max-width: 128px;
  }

  h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }

  .notification.is-danger {
    padding: 5px;
    width: max-content;
    padding-right: 50px;
    margin-left: 10px;
  }
}
