.establishments_dashboard {
  height: calc(100% + 90px);
  padding-top: 15px;
  background-color: #f2f2f2;

  .container {
    @include touch {
      margin: 15px;
    }
  }

  .box {
    border: 1px solid $light-color;
    box-shadow: none;
    border-radius: 0px;

    .media {
      .media-left {
        max-width: 64px;

        .image {
          margin: 0 auto;

          img {
            border: 2px solid #fff;
          }
        }
      }
    }

    .infos {
      .column {
        @include mobile {
          width: 50%;
        }

        @include desktop {
          width: 33.33%;
        }

        &:last-child {
          @include mobile {
            width: 100%;
          }
        }
      }
      p {
        margin-bottom: 2px;
      }
    }

    .actions {
      .button.is-light {
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
        border-radius: 0px;

        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }

  .bottom-navigation-bar {
    background-color: $primary-color;
    
    .tabs {
      overflow-x: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .icon:first-child {
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-top: 0.5em;
      }
    }

    ul {
      border: 0px;
    }

    .tab {
      a {
        color: #fff;
        height: 60px;
      }

      &.is-active, &:hover {
        a {
          color: #31aeb5;
          background-color: #fff;
        }
      }
    }
  }
}

// HEADER CUSTOM
.establishments_dashboard-index {
  header {
    background-color: $primary-color;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);

    .navbar {
      .navbar-menu {
        .navbar-item {
          a {
            border-color: #fff;
          }
        }
      }

      a {
        color:  #fff;
        border-color: #fff;

        &:hover {
          color:  #fff;
        }
      }
    }
  }
}