form.establishment {
  h1.title {
    color: $primary-color;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;

    .icon {
      margin-right: 10px;
    }

    &:last-child {
      margin-top: 30px;
    }
  }
}