.establishment_welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .is-link {
    text-decoration: underline;
    padding-right: 20px;
    padding-left: 20px;
  }

  .tabs.is-toggle {
    
    li + li {
      margin-left: -10px;
    }

    & li.is-active a {
      background-color: transparent !important;
      border-color: transparent !important;
      color: #4a4a4a;;
    }

    & li a {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .tabs.is-toggle a {
    border-color: transparent;

    &:hover {
      background: transparent;
    }
  }
}
