.filter-services {
  padding-top: 30px;
  height: auto !important;
  min-height: 100%;

  .start_from {
    margin-bottom: -10px;
  }

  .toggle-filter-services {
    position: relative;
    top: calc(100% - 30px);
    cursor: pointer;
    color: #b1b1b1 !important;

    &.active {
      color: $primary-color !important;
    }
  }

  #filter-services-content {
    margin: 0px;
    margin-bottom: 10px;
    background: #f2f2f2;
    overflow: hidden;
    max-height: 0;

    -webkit-transition: max-height 0.5s; 
    -moz-transition: max-height 0.5s; 
    -ms-transition: max-height 0.5s; 
    -o-transition: max-height 0.5s; 
    transition: max-height 0.5s;

    &.active {
      max-height: 300px;
    }
  }

  .no-bottom-margin {
    margin-bottom: 0px;
  }

  .datetimepicker-dummy {
    height: 37px !important;
  }

  .search {
    .button[type="submit"] {
      position: absolute;
      width: 70px;
      top: 0px;
      left: calc(100% - 70px);
      background: #b1b1b1;
      border-color: #b1b1b1 !important;
    }

    .input[type="text"] {
      border-color: #b1b1b1 !important;
    }
  }

  .results {
    padding-top: 20px;
    padding-bottom: 55px;

    .container {
      @include touch {
        padding: 15px;
      }
    }

    .card {
      border-radius: 5px;
      height: auto;

      p.title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      @include desktop {
        height: 100%;
      }

      border: 1px solid #f2f2f2;
      border-radius: 0px;
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1) !important;

      .service-image {
        img {
          width: auto;
          height: 250px !important;
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1) !important;
          object-fit: cover;
        }
      }

      .service-content {
        padding: 20px 10px 20px 20px;

        .media {
          margin-bottom: 0px;
        }

        .infos {
          margin-top: 10px;
          line-height: 1rem;
        }

        .actions {
          margin-top: 20px;
        }

        .button.is-light {
          margin-top: 20px;
          border: 0px;
          color: #fff;
          background: $primary-color;
          border-radius: 0px;
        }

        .max-height {
          height: 100px;
        }
      }
    }

    .btn-see-more {
      background-color: #fff;
      border-color: $primary-color;
      color: $primary-color;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}
