.professionals_form {
  .container {
    @include touch {
      padding: 15px;
    }

    @include desktop {
      padding-left: 125px;
      padding-right: 125px
    }
  }

  #error_explanation {
    margin-top: 70px;
  }


  form {
    @include mobile {
      padding-bottom: 55px;
    }
  }

  .file {
    .file-label {
      margin: 0 auto;
    }
  }

  .office_hours, .professional_services {
    background-color: #f2f2f2;
    margin: 5px;
    padding-bottom: 20px;
    margin-top: 25px;
  
    @include tablet {
      .button[type="submit"] {
        margin-top: 30px;
      }
    }

    .table {
      background: transparent;
      color: #7a7a7a;

      th, td {
        border-color: $grey-color-light;
        color: #7a7a7a;
      }

      td:nth-child(1) {
        text-transform: capitalize;
      }

      a.button {
        background: transparent;

        i {
          color: #f06868 !important;
        }
      }
    }
  }

  .professional_services {
    padding-top: 10px;
    padding-left: 10px;

    .is-divider {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}