.new-scheduling {
  padding-bottom: 100px;

  .is-amount {
    span {
      color: black;
    }
  }
}

.scheduling-details {
  padding-top: 35px;

  .actions {
    .button {
      border: 0px;
      background: transparent;

      &.is-pulled-right {
        margin-right: 30px;
      }
    }
  }
}

#cancel-scheduling-modal {
  .modal-content {
    .columns.content {
      max-width: 450px;
      margin: 0 auto;
      padding: 25px 5px 20px 5px;
      background-color: #fff;

      @media (max-width: 450px) {
        margin-left: 10px;
        margin-right: 10px;
      }

      input.is-danger {
        background: #ff3860 !important;
        border-radius: 4px;
      }

      a.has-text-danger {
        text-decoration: underline;
      }
    }
  }
}