.service-details {
  .box {
    .media-left {
      img {
        max-width: 64px;
        min-width: 64px;
        max-height: 64px;
        min-height: 64px;
      }
    }

    .media-content {
      .content {
        height: 64px;
        margin-bottom: 5px;

        p:nth-child(1) {
          margin-bottom: 10px;
        }
      }

      .column {
        padding-bottom: 0px !important;
      }

      .column:not(:first-child) {
        padding-top: 10px !important;

        i {
          margin-right: 8px;
        }
      }
    }
  }  

  h1:not(:first-child) {
    padding: 0px 15px 15px 15px;
    margin-top: 30px;
  }

  h1 {
    span {
      cursor: pointer;
    }
  }

  div:nth-child(1) {
    form > button {
      width: 100%;
      height: 50px;

      strong {
        margin-right: 5px;
      }
    }
  }

  .tabs {
    margin-top: 30px;

    ul {
      border: 0px;
    }

    .tab {
      border-top: 1px solid transparent;
      border-bottom: 1px solid #cecece;
      padding: 0px;
      padding-top: 5px;
      cursor: pointer;

      @include mobile {
        padding-bottom: 10px;
      }

      figure {
        margin: auto;
      }

      &:hover {
        img {
          border: 2px solid #cecece;
        }
      }

      &:before {
        content: '';
        margin-left: calc(50% - 20px);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-top: 20px solid transparent;
      }

      &.is-active {
        border-top: 1px solid #cecece;

        &:before {
          border-top: 20px solid #cecece;
        }

        &:hover {
          img {
            border: 0px;
          }
        }
      }
    }
  }

  .table-schedule {
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .column {
      background: #f2f2f2;
      border: 1px solid #cecece;

      min-width: 90px;

      &:not(:first-child) {
        border-left: 0px;
      }
    }

    .is-text {
      text-decoration: none;
    }

    a, span.button {
      width: 100%;
      padding: 0px;
      margin: 0px;
      height: 40px;
      background-color: #fff;
      border-bottom: 1px solid #cecece;
      border-radius: 0px;
    }

    span.button {
      background-color: #cecece;
    }

    p {
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: 1px solid #cecece;
      background-color: #ccc;
    }
  }
}

#details-model-scheduling {
  article {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }

  form > button {
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;

    strong {
      margin-right: 5px;
    }
  }
}