.users_dashboard {
  height: auto !important;
  min-height: 100%;
  padding-top: 25px;
  background-color: #f2f2f2;
  padding-bottom: 100px;

  .start_from {
    margin-bottom: -5px !important;
  }

  .box {
    height: 100%;

    .media {
      .media-left {
        max-width: 64px;

        .image {
          margin: 0 auto;

          img {
            border: 2px solid #fff;
          }
        }
      }
    }

    .infos {
      p {
        margin-bottom: 2px;
      }
    }

    .actions {
      .button.is-light {
        color: #fff;
        background-color: $primary-color;

        &:nth-child(2) {
          background-color: #fff;
          color: rgba(0, 0, 0, .6);
        }
      }

      .button.is-text {
        color: #fff;

        &:hover {         
          background-color: #fff;
          color: black !important;
          text-decoration: none;
        }
      }
    }
  }
}

// HEADER CUSTOM
.users_dashboard-index {
  header {
    background-color: $primary-color;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);

    .navbar {
      .navbar-menu {
        .navbar-item {
          a {
            border-color: #fff;
          }
        } 
      }

      a {
        color:  #fff;
        border-color: #fff;

        &:hover {
          color:  #fff;
        }
      }
    }
  }
}

.user.bottom-navigation-bar {
  background-color: $primary-color;

  .tabs {
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .icon:first-child {
      margin-right: 0.5em;
      margin-left: 0.5em;
      margin-top: 0.5em;
    }
  }

  ul {
    border: 0px;
  }

  .tab {
    a {
      color: #fff;
      height: 60px;
    }

    &.is-active, &:hover {
      a {
        color: #31aeb5;
        background-color: #fff;
      }
    }
  }
}
