.is-64x64 {
  img {
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
    object-fit: fill;
  }
}

.is-128x128 {
  img {
    min-height: 128px;
    max-height: 128px;
    min-width: 128px;
    max-width: 128px;
    object-fit: fill;
  }
}

.is-256x256 {
  img {
    min-height: 256px;
    max-height: 256px;
    min-width: 256px;
    max-width: 256px;
    object-fit: fill;
  }
}