<%= render 'shared/header', to_back: false, fixed: true %>
<%= render 'establishments_dashboard/notify_header' %>
<div class="establishments_dashboard">
  <div class="container">
      <%= render 'establishments/form' %>
   </div>
  <%= render 'shared/establishment_bottom_navigation_bar', tab: 'profile' %>
</div>
