<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

      @import url('https://rsms.me/inter/inter.css');
      html { font-family: 'Inter', sans-serif; }
      @supports (font-variation-settings: normal) {
        html { font-family: 'Inter var', sans-serif; }
      }

      .container {
        width: 60%;
        margin: 0 20%;
      }

      @media screen and (max-width: 1024px) {
        .container {
          width: 80%;
          margin: 0 10%;
        }
      }

      h1.title {
        line-height: 75px;
      }

      h2.subtitle {
        background-color: #2AC5CC;
        line-height: 75px;
      }

      .item {
        margin: 65px 0px;
      }

      .button {
        display: inline-block;
        line-height: 60px;
        width: 250px;
        background: rgba(0,0,0,0.6);
        border: 0px;
        text-decoration: none;
      }

      .button.is-primary {
        background: #2AC5CC !important;
        color: #fff !important;
      }

      .has-text-centered {
        text-align: center;
      }

      .has-text-primary {
        color: #2AC5CC !important;
      }

      .has-text-white {
        color: #fff !important;
      }

      .has-text-grey {
        color: rgba(0,0,0,0.6) !important;
      }

      .has-text-danger {
        color: #FF3860;
      }

      .is-size-1 {
        font-size: 3rem;
      }

      .is-size-2 {
        font-size: 2.5rem;
      }

      .is-size-3 {
        font-size: 2rem;
      }

      .is-size-4 {
        font-size: 1.5rem;
      }

      .is-size-5 {
        font-size: 1rem;
      }

      .is-link {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
